## See variables.tf for descriptions

do_token = "X"
spaces_access_token = "X"
spaces_secret_key = "X"
tf_state_bucket = "X"
region = "SYD1"

app_name = "<your computer-friendly app name>"
friendly_app_name = "<your human-friendly app name>"
environment = "<production/development>"

vpc_ip_range = "10.0.0.0/16"
kubernetes_version = "1.27."
node_pool_droplet_size = "<droplet sizes: https://slugs.do-api.dev/>"

public_data_bucket = "X"
db_name = "X"
db_user = "X"
db_password = "X"
